<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Gmail App v<%= htmlWebpackPlugin.options.version %> </title>
    <base href="/window/">

    <meta name="referrer" content="origin"/>
    <link rel="icon" type="image/x-icon" href="../assets/images/grabber-icon.png"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
    <link rel="stylesheet" href="style/deeppurple-amber.css"/>
    <style>
        html, body {
            margin: 0;
            padding: 0;
            width: 100%;
            min-height: 100%;
            display: flex;
        }
    </style>
</head>
<body>
<app-root class="mat-typography"></app-root>
</body>
</html>
