@mixin app-form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px 40px;

    .form-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .info-block-controls {
            display: flex;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .controls {
            display: flex;
            flex-direction: row;
            // flex-grow: 1;
            // align-items: baseline;
            // justify-content: space-around;
            justify-content: flex-end;
            padding: 20px 0;

            button {
                margin-right: 20px;
            }
        }
    }
}